*{
    margin:0;
    padding:0;
}
#container{
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
#main{
    margin-top:10px;
    margin-bottom: 10px;
    width: 100%;
}